
body {
	background-image:url('/images/bg.png');
	padding-left:15%;
  	padding-right:15%;
}

.hero-unit > h1 {
	color: #000000;
}

.hero-unit > h2, h3 {
	color: #222222;
}

em {
	font-style: normal;
	color: #FF4500;
}

strong, a {
	color: ##fe6600;
}

.active {
	color: red;
}

#header-hero {
	height: 250px;
	padding-top: 30px;
	background-image:url('/images/vegas.jpg');
	background-size: cover;
	background-color:#cccccc;
	margin: 0px;
}

.note {
	font-style: italic;	
	color: #444444;
}
.affix {
  top: 400px;
}


#prizes {
	margin-top: 25px;
	padding: 5px 25px;
	background-color: #FFFFFF;
	color: #333333;
}

#prizes > h3 {
	color: #333333;
}

.signup {
	margin: 8px 4px;
}

#content-container {
	background-color: #FFFFFF;
}

#menu {
	padding-left: 20px;
}
#sections {
	padding-top: 40px;
	padding-right: 20px;
}
  