
body {
  padding: 30px 50px;
  width: 860px;
}

h1 {
	color: #FFFFFF;
}

h2, h3, h4, th {
	color: #DDDDDD;
}

em {
	font-style: normal;
	color: rgb(0, 169, 255);
}

strong, a {
	color: #FF4500;
}

.active {
	color: red;
}

.note {
	font-style: italic;	
	color: #DDDDDD;
}

#prizes {
	margin-top: 25px;
	padding: 5px 25px;
	background-color: #FFFFFF;
	color: #333333;
}

#prizes h3 {
	color: #333333;
}

#menu {
	position: fixed;
	top: 50px;
	left: 940px;
}